#title{
    font-family: 'Passero One', cursive !important;
}

nav p:hover{
    color: #ee8132 !important;
   
} 

ul{
    list-style: none !important;
}

label {
    display: block !important;
    margin-top: 1em !important;
}

input:invalid {
    background-color: lightpink !important;
}