#title{
    font-family: 'Passero One', cursive !important;
}


li h3:hover{
    color: #ee8132 !important;
   
} 

ul{
    list-style: none !important;
}

label {
    display: block !important;
    margin-top: 1em !important;
}

input:invalid {
    background-color: lightpink !important;
}

#dragonball{
    background-image: url("./image/dragonball/planetedb.png") !important;
    background-size: cover !important;
}

.cards{

    transition: all 0.2s ease !important;
    cursor: pointer !important;

  }

.cards:hover{

    box-shadow: 5px 6px 6px 2px #eca60d !important;
    transform: scale(1.1) !important;
}